Repository cross-team/clublink, changes with the owners that .github/CODEOWNERS names for each.
All owners: @arberiii, @byliuyang, @Coteh, @rohithbalaji123

.github/CODEOWNERS:

# Global Code Owners
#
# These owners will be the default owners for everything in
# the repo.
@byliuyang

# File Owners
#
# Order is important; the last matching pattern takes the most
# precedence.

# Backend
*.go    @arberiii @byliuyang

# Frontend
*.ts    @Coteh @rohithbalaji123 @byliuyang
*.tsx   @Coteh @rohithbalaji123 @byliuyang
*.js    @Coteh @rohithbalaji123 @byliuyang
*.html  @Coteh @rohithbalaji123 @byliuyang
*.scss  @Coteh @rohithbalaji123 @byliuyang
*.png   @Coteh @rohithbalaji123 @byliuyang

added a bunch of frontend ux and ui improvements
  frontend/src/component/form/TextAreaField.scss
  frontend/src/component/form/TextField.scss
  frontend/src/component/form/TextField.tsx
  frontend/src/component/pages/HomePage.scss
  frontend/src/component/pages/HomePage.tsx
  frontend/src/component/pages/PublishedPage.scss
  frontend/src/component/pages/PublishedPage.tsx
  frontend/src/component/pages/shared/CreateShortLinkSection.scss
  frontend/src/component/pages/shared/CreateShortLinkSection.tsx
  frontend/src/component/pages/shared/VisitLinkSection.tsx
  frontend/src/component/styles/color.scss
  frontend/src/component/ui/Section.scss
  frontend/src/validators/CustomAlias.validator.ts
Owners: @Coteh, @rohithbalaji123, @byliuyang

made the app more responsive
  frontend/src/component/pages/HomePage.scss
  frontend/src/component/pages/PublishedPage.scss
  frontend/src/component/pages/PublishedPage.tsx
  frontend/src/component/pages/shared/CreateShortLinkSection.tsx
Owners: @Coteh, @rohithbalaji123, @byliuyang

created functional userByShortLink query
  backend/app/adapter/gqlapi/resolver/authquery.go
  backend/app/adapter/gqlapi/resolver/query.go
  backend/app/adapter/gqlapi/resolver/resolver.go
  backend/app/adapter/gqlapi/resolver/url.go
  backend/app/adapter/gqlapi/resolver/user.go
  backend/app/adapter/gqlapi/schema.graphql
  backend/app/adapter/sqldb/user_short_link.go
  backend/app/entity/shortlink.go
  backend/app/entity/user.go
  backend/app/usecase/repository/usershortlink.go
  backend/app/usecase/repository/usershortlink_fake.go
  backend/dep/wire_gen.go
Owners: @arberiii, @byliuyang

added graphql query to get shortlink by id
  backend/app/adapter/gqlapi/resolver/authquery.go
  backend/app/adapter/gqlapi/schema.graphql
  backend/app/adapter/routing/handle/long_link.go
  backend/app/adapter/sqldb/short_link.go
  backend/app/usecase/repository/shortlink.go
  backend/app/usecase/repository/shortlink_fake.go
  backend/app/usecase/shortlink/retriever.go
  backend/app/usecase/shortlink/retriever_test.go
Owners: @arberiii, @byliuyang

updating frontend queries
  frontend/src/component/pages/shared/CreateShortLinkSection.tsx
  frontend/src/component/pages/shared/VisitLinkSection.tsx
  frontend/src/entity/ShortLink.tsx
  frontend/src/service/shortGraphQL/ShortLinkGraphQL.api.ts
Owners: @Coteh, @rohithbalaji123, @byliuyang

running in dev mode
  .gitignore
  backend/.dockerignore
  backend/Dockerfile
  backend/main.go
  docker-compose.yml
Owners: @arberiii, @byliuyang

updated command
  backend/Dockerfile
Owners: none

made it an entrypint
  backend/Dockerfile
Owners: none

comment out command
  backend/Dockerfile
Owners: none

retrying production image
  backend/Dockerfile
Owners: none

ui fixes
  frontend/src/component/form/TextField.scss
  frontend/src/component/pages/HomePage.scss
  frontend/src/component/pages/shared/CreateShortLinkSection.scss
  frontend/src/component/pages/shared/CreateShortLinkSection.tsx
  frontend/src/component/pages/shared/VisitLinkSection.tsx
  frontend/src/component/ui/Section.scss
  frontend/src/entity/ShortLink.tsx
Owners: @Coteh, @rohithbalaji123, @byliuyang

updated front end
  frontend/src/component/UIFactory.tsx
  frontend/src/component/form/TextField.scss
  frontend/src/component/pages/HomePage.scss
  frontend/src/component/pages/PublishedPage.scss
  frontend/src/component/pages/PublishedPage.tsx
  frontend/src/component/pages/shared/Footer.scss
  frontend/src/component/pages/shared/Footer.tsx
  frontend/src/component/pages/shared/VisitLinkSection.tsx
  frontend/src/component/pages/shared/VisitShortLinkSection.scss
  frontend/src/component/ui/Section.scss
Owners: @Coteh, @rohithbalaji123, @byliuyang

removing ts errors
  backend/app/usecase/shortlink/creator_test.go
  backend/app/usecase/shortlink/updater_test.go
Owners: @arberiii, @byliuyang

started changing routing on frontend
  frontend/src/component/App.tsx
  frontend/src/component/pages/HomePage.tsx
  frontend/src/component/pages/PublishedPage.tsx
  frontend/src/component/pages/shared/CreateShortLinkSection.tsx
  frontend/src/component/pages/shared/VisitLinkSection.tsx
Owners: @Coteh, @rohithbalaji123, @byliuyang

fixed publish issue
  frontend/src/component/pages/shared/CreateShortLinkSection.tsx
  frontend/src/service/shortGraphQL/ShortLinkGraphQL.api.ts
  frontend/src/service/shortGraphQL/schema.ts
Owners: @Coteh, @rohithbalaji123, @byliuyang

set up routing on the frontend
  frontend/src/component/App.tsx
Owners: @Coteh, @rohithbalaji123, @byliuyang

updated main.go
  frontend/serve/main.go
Owners: @arberiii, @byliuyang

submit on enter
  frontend/src/component/form/TextField.tsx
  frontend/src/component/pages/shared/CreateShortLinkSection.tsx
  frontend/src/component/pages/shared/VisitLinkSection.tsx
Owners: @Coteh, @rohithbalaji123, @byliuyang

preparing to publish v0.1.0
  backend/go.mod
  backend/go.sum
Owners: none

preparing for publish: v0.1.1
  backend/Dockerfile
  backend/app/adapter/gqlapi/resolver/noauthmutation.go
  backend/go.mod
  backend/go.sum
  frontend/Dockerfile
  frontend/serve/go.mod
Owners: @arberiii, @byliuyang

updating dockerfile and go.sum: v0.1.2
  backend/--help
  backend/go.sum
  docker-compose.yml
  frontend/serve/go.mod
Owners: none

updated frontend docker build
  backend/Dockerfile
  docker-compose.yml
  frontend/Dockerfile
  frontend/package.json
  frontend/serve/go.mod
  frontend/yarn.lock
Owners: none
