Repository cross-team/clublink, changes with the owners that .github/CODEOWNERS names for each.
All owners: @arberiii, @byliuyang, @Coteh, @rohithbalaji123

updated footer
  frontend/src/component/pages/HomePage.scss
  frontend/src/component/pages/HomePage.tsx
  frontend/src/component/pages/shared/Footer.scss
  frontend/src/component/pages/shared/Footer.tsx
  frontend/src/component/styles/color.scss
  frontend/src/component/styles/font.scss
  frontend/src/component/ui/Section.scss
Owners: @Coteh, @rohithbalaji123, @byliuyang

added links between pages
  frontend/src/component/form/TextField.scss
  frontend/src/component/form/TextField.tsx
  frontend/src/component/pages/HomePage.scss
  frontend/src/component/pages/HomePage.tsx
  frontend/src/component/pages/shared/VisitLinkSection.tsx
  frontend/src/component/ui/Section.scss
Owners: @Coteh, @rohithbalaji123, @byliuyang

added rocket button
  frontend/src/component/form/TextField.scss
  frontend/src/component/pages/HomePage.scss
  frontend/src/component/pages/shared/CreateShortLinkSection.tsx
  frontend/src/component/ui/Section.scss
Owners: @Coteh, @rohithbalaji123, @byliuyang

setting up code reservation
  backend/go.mod
  backend/go.sum
  frontend/src/component/pages/HomePage.tsx
  frontend/src/component/pages/shared/CreateShortLinkSection.tsx
  frontend/src/component/pages/shared/sign-in/SignInModal.tsx
  frontend/src/validators/LongLink.validator.ts
Owners: @Coteh, @rohithbalaji123, @byliuyang

removed sign-in modal
  frontend/src/component/pages/HomePage.tsx
Owners: @Coteh, @rohithbalaji123, @byliuyang

started removing auth logic from schema and added fields to ui
  backend/app/adapter/gqlapi/resolver/authmutation.go
  backend/app/adapter/gqlapi/resolver/authquery.go
  backend/app/adapter/gqlapi/resolver/mutation.go
  backend/app/adapter/gqlapi/resolver/query.go
  backend/app/adapter/gqlapi/resolver/resolver.go
  backend/app/adapter/gqlapi/schema.graphql
  frontend/src/component/form/TextField.scss
  frontend/src/component/form/TextField.tsx
  frontend/src/component/pages/HomePage.scss
  frontend/src/component/pages/shared/CreateShortLinkSection.scss
  frontend/src/component/pages/shared/CreateShortLinkSection.tsx
  frontend/src/component/pages/shared/VisitLinkSection.tsx
  frontend/src/component/ui/Section.scss
Owners: @arberiii, @byliuyang, @Coteh, @rohithbalaji123

reverting auth changes
  backend/app/adapter/gqlapi/resolver/authmutation.go
  backend/app/adapter/gqlapi/resolver/authquery.go
  backend/app/adapter/gqlapi/resolver/mutation.go
  backend/app/adapter/gqlapi/resolver/query.go
  backend/app/adapter/gqlapi/resolver/resolver.go
  backend/app/adapter/gqlapi/schema.graphql
  frontend/src/component/pages/shared/CreateShortLinkSection.tsx
Owners: @arberiii, @byliuyang, @Coteh, @rohithbalaji123

fixing reversions
  backend/app/adapter/gqlapi/resolver/query.go
  backend/app/adapter/gqlapi/resolver/resolver.go
  frontend/src/component/pages/HomePage.tsx
Owners: @arberiii, @byliuyang, @Coteh, @rohithbalaji123

finished basic UI
  backend/app/adapter/kgs/kgs.go
  frontend/src/component/App.tsx
  frontend/src/component/UIFactory.tsx
  frontend/src/component/form/TextField.scss
  frontend/src/component/pages/HomePage.tsx
  frontend/src/component/pages/PublishedPage.scss
  frontend/src/component/pages/PublishedPage.tsx
  frontend/src/component/pages/shared/CreateShortLinkSection.tsx
  frontend/src/component/pages/shared/VisitLinkSection.tsx
  frontend/src/component/styles/color.scss
  frontend/src/component/ui/Button.tsx
  frontend/src/component/ui/Section.scss
  frontend/src/dep.ts
Owners: @arberiii, @byliuyang, @Coteh, @rohithbalaji123

updated published page
  frontend/src/component/pages/PublishedPage.scss
  frontend/src/component/pages/PublishedPage.tsx
  frontend/src/component/pages/shared/CreateShortLinkSection.scss
  frontend/src/component/pages/shared/CreateShortLinkSection.tsx
  frontend/src/component/pages/shared/ShortLinkUsage.scss
  frontend/src/component/pages/shared/ShortLinkUsage.tsx
  story/tsconfig.json
Owners: @Coteh, @rohithbalaji123, @byliuyang

fixed responsiveness
  frontend/src/component/pages/HomePage.scss
  frontend/src/component/pages/HomePage.tsx
  frontend/src/component/pages/PublishedPage.scss
  frontend/src/component/pages/shared/CreateShortLinkSection.tsx
  frontend/src/component/pages/shared/UserShortLinksSection.scss
  frontend/src/component/pages/shared/VisitLinkSection.tsx
  frontend/src/component/ui/Table.tsx
Owners: @Coteh, @rohithbalaji123, @byliuyang

fixed routing
  frontend/src/component/App.tsx
  frontend/src/component/UIFactory.tsx
  frontend/src/component/pages/HomePage.tsx
  frontend/src/component/pages/PublishedPage.tsx
  frontend/src/component/pages/shared/CreateShortLinkSection.tsx
Owners: @Coteh, @rohithbalaji123, @byliuyang

added validation for link creation
  frontend/src/component/form/TextField.tsx
  frontend/src/component/pages/HomePage.tsx
  frontend/src/component/pages/shared/CreateShortLinkSection.scss
  frontend/src/component/pages/shared/CreateShortLinkSection.tsx
  frontend/src/component/pages/shared/VisitLinkSection.tsx
  frontend/src/component/ui/Button.tsx
Owners: @Coteh, @rohithbalaji123, @byliuyang

updated published page ui
  frontend/src/component/pages/PublishedPage.scss
  frontend/src/component/pages/PublishedPage.tsx
  frontend/src/component/pages/shared/ShortLinkUsage.tsx
  frontend/src/component/pages/shared/VisitLinkSection.tsx
Owners: @Coteh, @rohithbalaji123, @byliuyang

added emojis to create page
  frontend/src/component/pages/HomePage.scss
  frontend/src/component/pages/shared/CreateShortLinkSection.tsx
  frontend/src/component/pages/shared/VisitLinkSection.tsx
  frontend/src/validators/LongLink.validator.ts
Owners: @Coteh, @rohithbalaji123, @byliuyang

added published page to visit link
  frontend/src/component/pages/shared/VisitLinkSection.tsx
Owners: @Coteh, @rohithbalaji123, @byliuyang

changed qrcodes to longlink url
  frontend/src/component/pages/shared/CreateShortLinkSection.tsx
  frontend/src/component/pages/shared/VisitLinkSection.tsx
Owners: @Coteh, @rohithbalaji123, @byliuyang

fixed text field shift
  frontend/src/component/pages/HomePage.scss
  frontend/src/component/pages/shared/VisitLinkSection.tsx
Owners: @Coteh, @rohithbalaji123, @byliuyang

added favorites page
  frontend/src/component/App.tsx
  frontend/src/component/pages/HomePage.tsx
  frontend/src/component/pages/shared/FavoritesSection.tsx
Owners: @Coteh, @rohithbalaji123, @byliuyang

added focus styles
  frontend/src/component/pages/HomePage.scss
  frontend/src/component/pages/PublishedPage.scss
  frontend/src/component/ui/Section.scss
Owners: @Coteh, @rohithbalaji123, @byliuyang

modified migration files
  backend/app/adapter/sqldb/migration/16_switch_from_email_to_id.sql
  backend/app/adapter/sqldb/migration/1_create_url_table.sql
  backend/app/adapter/sqldb/migration/24_rename_url_to_short_link.sql
  backend/app/adapter/sqldb/migration/5_create_user_url_relation_table.sql
  backend/app/adapter/sqldb/migration/8_create_public_url_table.sql
  backend/app/usecase/shortlink/creator.go
  docker-compose.yml
Owners: @arberiii, @byliuyang

successfully removed OAuth using a hard-coded dummy user
  backend/app/adapter/gqlapi/resolver/mutation.go
  backend/app/adapter/gqlapi/resolver/noauthmutation.go
  backend/app/adapter/gqlapi/schema.graphql
  frontend/src/component/pages/HomePage.tsx
  frontend/src/component/pages/PublishedPage.tsx
  frontend/src/component/pages/shared/CreateShortLinkSection.tsx
  frontend/src/component/pages/shared/VisitLinkSection.tsx
  frontend/src/service/shortGraphQL/ShortLinkGraphQL.api.ts
  frontend/src/service/shortGraphQL/schema.ts
Owners: @arberiii, @byliuyang, @Coteh, @rohithbalaji123

added user and room fields to ui
  backend/app/adapter/gqlapi/resolver/noauthmutation.go
  frontend/src/component/pages/shared/CreateShortLinkSection.tsx
  frontend/src/service/shortGraphQL/ShortLinkGraphQL.api.ts
Owners: @arberiii, @byliuyang, @Coteh, @rohithbalaji123

adjusted schema to accept new fields from frontend
  backend/app/adapter/gqlapi/input/shortlink.go
  backend/app/adapter/gqlapi/schema.graphql
  backend/app/entity/shortlink.go
  frontend/src/component/pages/shared/CreateShortLinkSection.tsx
  frontend/src/component/ui/Button.module.scss
  frontend/src/entity/ShortLink.tsx
  frontend/src/service/Search.service.ts
  frontend/src/service/ShortLink.service.ts
  frontend/src/service/shortGraphQL/ShortLinkGraphQL.api.ts
  frontend/src/service/shortGraphQL/schema.ts
  frontend/src/state/reducers.ts
  frontend/src/validators/Room.validator.ts
  frontend/src/validators/Username.validator.ts
Owners: @arberiii, @byliuyang, @Coteh, @rohithbalaji123

app adds user to the database when an unrecognized username is input by the user
  backend/app/adapter/gqlapi/resolver/mutation.go
  backend/app/adapter/gqlapi/resolver/noauthmutation.go
  backend/app/adapter/gqlapi/resolver/resolver.go
  backend/app/entity/shortlink.go
  backend/dep/wire.go
  backend/dep/wire_gen.go
  backend/go.sum
Owners: @arberiii, @byliuyang

fixed relation between short links and users and made id the primary key for short links
  backend/app/adapter/gqlapi/resolver/noauthmutation.go
  backend/app/adapter/sqldb/migration/12_create_changelog_table.sql
  backend/app/adapter/sqldb/migration/13_create_user_changelog_table.sql
  backend/app/adapter/sqldb/migration/15_create_user_role_table.sql
  backend/app/adapter/sqldb/migration/1_create_url_table.sql
  backend/app/adapter/sqldb/migration/20_create_facebook_sso_table.sql
  backend/app/adapter/sqldb/migration/21_create_google_sso_table.sql
  backend/app/adapter/sqldb/migration/6_add_user_id_column.sql
  backend/app/adapter/sqldb/migration/7_create_github_oauth_user_relation_table.sql
  backend/app/adapter/sqldb/short_link.go
  backend/app/adapter/sqldb/table/short_link.go
  backend/app/adapter/sqldb/table/user_short_link.go
  backend/app/adapter/sqldb/user_short_link.go
  backend/app/entity/shortlink.go
  backend/app/usecase/shortlink/creator.go
Owners: @arberiii, @byliuyang

added room field to short_link table
  backend/app/adapter/sqldb/migration/1_create_url_table.sql
  backend/app/adapter/sqldb/short_link.go
  backend/app/adapter/sqldb/table/short_link.go
  backend/app/entity/shortlink.go
  backend/app/usecase/shortlink/creator.go
Owners: @arberiii, @byliuyang

added expiration date to the database
  backend/app/adapter/gqlapi/resolver/noauthmutation.go
  backend/app/usecase/shortlink/creator.go
Owners: @arberiii, @byliuyang

adding room and ID to queries but ran into error
  backend/app/adapter/gqlapi/resolver/authquery.go
  backend/app/adapter/gqlapi/schema.graphql
  backend/app/adapter/sqldb/short_link.go
  backend/app/adapter/sqldb/table/short_link.go
  backend/app/usecase/repository/shortlink.go
  backend/app/usecase/repository/shortlink_fake.go
  backend/app/usecase/shortlink/metatag.go
  backend/app/usecase/shortlink/retriever.go
  backend/app/usecase/shortlink/updater.go
Owners: @arberiii, @byliuyang

bypassed error, working without the query for now
  backend/app/adapter/gqlapi/schema.graphql
  backend/app/adapter/sqldb/short_link.go
  frontend/src/component/App.tsx
Owners: @arberiii, @byliuyang, @Coteh, @rohithbalaji123

added workflow for ecr
  .github/workflows/ecr-deploy.yml
Owners: none

updated dockerfiles
  backend/Dockerfile
  frontend/Dockerfile
Owners: none

no check in workflow for now
  .github/workflows/ecr-deploy.yml
Owners: none

missed a line
  .github/workflows/ecr-deploy.yml
Owners: none

checking out code
  .github/workflows/ecr-deploy.yml
Owners: none

VoiceOver improvements
  frontend/src/component/form/TextField.tsx
  frontend/src/component/pages/PublishedPage.tsx
  frontend/src/component/pages/shared/CreateShortLinkSection.tsx
  frontend/src/component/pages/shared/Footer.tsx
  frontend/src/component/pages/shared/ShortLinkUsage.tsx
  frontend/src/component/pages/shared/VisitLinkSection.tsx
Owners: @Coteh, @rohithbalaji123, @byliuyang

added functions for user query
  backend/app/adapter/gqlapi/resolver/authquery.go
  backend/app/adapter/gqlapi/resolver/url.go
  backend/app/adapter/gqlapi/schema.graphql
  backend/app/adapter/sqldb/user_short_link.go
  backend/go.mod
  backend/go.sum
  frontend/src/component/pages/shared/VisitLinkSection.tsx
  frontend/src/component/ui/Section.scss
Owners: @arberiii, @byliuyang, @Coteh, @rohithbalaji123

some ui changes
  frontend/src/component/form/TextField.scss
  frontend/src/component/pages/PublishedPage.scss
  frontend/src/component/pages/PublishedPage.tsx
  frontend/src/component/pages/shared/VisitLinkSection.tsx
  frontend/src/component/styles/color.scss
Owners: @Coteh, @rohithbalaji123, @byliuyang

preparing for merge
  backend/app/adapter/gqlapi/schema.graphql
  backend/app/adapter/sqldb/short_link.go
Owners: @arberiii, @byliuyang

resolver fix
  backend/app/adapter/gqlapi/resolver/url.go
Owners: @arberiii, @byliuyang

.github/CODEOWNERS:

# Global Code Owners
#
# These owners will be the default owners for everything in
# the repo.
@byliuyang

# File Owners
#
# Order is important; the last matching pattern takes the most
# precedence.

# Backend
*.go    @arberiii @byliuyang

# Frontend
*.ts    @Coteh @rohithbalaji123 @byliuyang
*.tsx   @Coteh @rohithbalaji123 @byliuyang
*.js    @Coteh @rohithbalaji123 @byliuyang
*.html  @Coteh @rohithbalaji123 @byliuyang
*.scss  @Coteh @rohithbalaji123 @byliuyang
*.png   @Coteh @rohithbalaji123 @byliuyang
